<!DOCTYPE html>
<html >
<title>CARETAKER</title>
<head>
<link rel="stylesheet" href="style.css">
</head>
  <body>
    <div class="container">
        <h2>select allergies:</h2>
        <form action="" method="POST">
          <input type="checkbox" name="a1">Pollen Allergy<br>
          <input type="checkbox" name="a2">Dust Allergy<br>
          <input type="checkbox" name="a3">Chronic Sinus<br>
          <input type="checkbox" name="a4">Asthma<br>
          <input type="checkbox" name="a5">Bronchitis<br>

          <button type="submit"> Submit </button>

        </form>
    </div>
  </body>
</html>
