<!DOCTYPE html>
<html lang="en">
<title>register</title>
<head>
 <link href="../static/STYLE.css" rel="stylesheet">
</head>
  <body>
    <div class="container">
        <h2>Register yourself here:</h2>
        <form action="" method="POST">
          <input type="text" placeholder="Enter Full Name" name="name"><br>
          <h4>Location:</h4>
          <select name="place" size="3"> location
            <option value="Mumbai">Mumbai</option>
            <option value="Chennai">Chennai</option>
            <option value="Kolkata">Kolkata</option>
            <option value="Bangalore">Bangalore</option>
          </select>
          <br><br>
          <h4>select allergies:</h4>
          <input type="checkbox" name="a1">Pollen Allergy<br>
          <input type="checkbox" name="a2">Asthma<br>
          <input type="checkbox" name="a3">Bronchitis<br>
          <input type="checkbox" name="a4">allergy4<br>
          <input type="checkbox" name="a5">allergy5<br>
          <br><br>
          <button type="submit"> Submit </button>

        </form>
    </div>
  </body>
</html>
