<!DOCTYPE html>
<html>
    <head>
         <title>CARETAKER</title>
         <meta charset="UTF-8">
         <meta name="description" content="This website helps your take care of your health by giving you advanced notifications of incoming alergies through weather change. ">
         <link rel="stylesheet"   type="text/css" href="style.css">
     </head>

<body>
    <header id="main-header">
        <div class="container">
          <big><h1>CARETAKER</h1></big>
        </div>
    </header>

    <nav id="navbar">
        <div class="container">
          <ul>
            <li><a href="#" target="_blank">LOGIN IN</a></li>
            <li><a href="" target="_blank">SIGN IN</a></li>
            <li><em>CONTACT:CARETAKER245@GMAIL.COM</em></li>
            <li><a href="#" target="_blank"></a></li>
           </ul>
        </div>
    </nav>
      
     <section id="showcase">
       <div class="container">
         <h3>OUR MOTO</h3>
          <p>This is a websites which calculates factors like temperature,humidity etc that occur due to climate changes and hence sends a mail to the user, which make the user aware of certain allergies through which he/she sufers due to weather change.....   </p>
       </div>
     </section>

    <div class="container">
     <section id="main">
      <h3></h3>
     <p>Being aware of those allergies user can take precautions to maintain his/her health.Also they can contact  to some of the medical experts connected to our site for gaining insites on how to avoid those allergies......
     </p>
     <br>
     <p>Some of our doctor friends</p>
      <dl>
        <dt>Dr. ARYAN TRIVEDI</dt>
        <dd>Contact no:7895672282</dd>
        <dt>Dr. ARYAN PATHARE</dt>
        <dd>Contact no:9573436745</dd>

        <dt>Dr. DHAIRYA VEERA</dt>
        <dd>Contact no:7564844661</dd>
        <dt>Dr. AKSHAT SHAH</dt>
        <dd>Contact no:9756881118</dd>


      </dl>
     </section>
     
     <aside id="sidebar">

        <p>Visit
           <a href="https://pharmeasy.in/" target="_blank">PHARMEASY</a>,
          
           <a href="https://www.medlife.com/" target="_blank">MEDLIFE</a>
           to get special discounts on medical item.
          
        </p>

     </aside>
    </div>



    <footer id="main-footer">
    <p>Copyright &copy; 2017 CARETAKER </p>
    </footer>
</body>


</html>                                                                                                                                                      